<!DOCTYPE html>
<html lang="en">

<head>
    <% include shared/head %>
</head>

<body>
    <% include shared/navbar %>
        <header id="aboutHeader" class="jumbotron header">
            <div class="container">
                <h1>關於本站</h1>
                <p>歡迎自由建立自己的歌單</p>
            </div>
        </header>
</body>

</html>